body{
    margin: 0;
    padding: 0;
    background-color: #fffdfd;
    scroll-behavior: smooth;  
}
.custom-shape-divider-top-1603872687 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1603872687 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1603872687 .shape-fill {
    fill: #0F2027;
}
.header{
    background-color: #fffdfd;
    text-align: center;

}

.title{
    padding: 2em;
    height: 100vh;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text > div{
    margin: 0.8em;
}

h1{
    color: #0F2027;
    font-size: xx-large;
    font-weight: 700;
    margin: auto 0 auto 0;
    padding-left: 10px;
}

.description{
    padding: 1em;
    background-color: #fffdfd;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 1em;
    
}
.para{
    flex: 1;
    padding: 1em;
}

.para-title{
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 0.8em;
    color: #0F2027;
}
.para > p{
    opacity: 0.8;
    text-align: justify;
}

.btn{
    background-color: #0F2027;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0.8em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
}
.btn:hover{
    background-color: rgba(16, 33, 40, 0.9);
}